<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File" fileName="D:/Bridgelabz lecture/FundooProject/FundooNotes/MyLogs/${date:format=yyyy-MM-dd}-api.log" />
	</targets>
	<rules>
		<!-- I am adding my 3 logging rules here -->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>

